body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #23374b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.map-container {
  height: 100vh;
  width: 100vw;
}

.sidebar {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 6px;
  min-height: 100px;
  background-color: #f8f8f8;

  a {
    color: #23374b;
  }

  .lat-lng {
    font-size: 0.85em;
    margin: 12px 0 0 0;
    color: #666
  }
}

.chart {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 6px;
}

.popup-container {
  padding: 8px;
  font-family: 'Roboto', sans-serif;
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  height: 100%;
  background-color: none;
  position: absolute;
  bottom: 0;

  p {
    font-size: 1.1em;
    margin: 0;
  }

  h3 {
    font-size: 1.4em;
    width: 100%;
  }

  h4 {
    font-size: 1.1em;
    color: #777;
  }
}

.leaflet-popup-content-wrapper {
  margin: 40px 0 0 0;
  padding: 0;
  background-color: transparent !important;
  box-shadow: none !important;
}

.leaflet-popup-content {
  margin: 0 !important;
}

.leaflet-popup-close-button {
  display: none;
}

.card {
  border-radius: 0; /* Removes rounded corners */
}

.card-body, .card-header {
  padding: 0.5rem; /* Adjust as needed to control spacing within the card */
}

.card-header {
  font-size: 1.2rem;
}

.card-title {
  font-weight: bold;
  font-size: 1.1rem !important;
}

.card-text .badge {
  font-size: 0.8rem;
  padding: 0.3em 0.6em;
  margin: 3px 0;
  background-color: antiquewhite;
  color: black;
}

.card-link {
  font-size: 0.7rem;
  color: rgb(50, 50, 50) !important;
  font-weight: bold;
}

.card-link a {
  color: rgb(50, 50, 50) !important;
}
.mapboxgl-popup-content {
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-width: 250px;
}

.year-dropdown {
  font-size: 1em !important;
}

option {
  font-size: 1em !important;
}

img.leaflet-tile {
  image-rendering: pixelated;
}